body {
    overflow-x: hidden !important;
    /* max-width: 599px; */
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

  a {
      color: snow;
  }

  .full-project > a{
      color: white !important;
      text-decoration: none;
  }

  .full-project > a:hover{
      border-bottom: none;
}

.full-project > a:visited{
    color: white !important;
}




  ul {
      list-style-type: none;
  }

  .desc-container {
    padding-top: 30px;
  }

  .fas, .fab {
      transition-duration: .25s;
      font-size: 40px;
      color: rgb(36, 36, 36);
  }

  .fas:hover {
      color: #727272;
  }

  .navbar-bottom {
      z-index: 20;
    box-shadow: 0px -1px 6px rgba(65, 65, 65, 0.329);
    backdrop-filter: blur(50px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
      padding: 15px 20px 15px 0px;
      margin: 0;
      background-color: rgba(170, 170, 170, 0.144);
      display: flex;
      justify-content: space-evenly;
      position: fixed;
      bottom: 0em;
    width: 100%;
}


  .navbar {
      visibility: hidden;
  }

.logo {
    width: 100px;
    padding-top: 75px;
}

.navigation {
    text-decoration: none;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}


.section-container {
    max-width: 599px;
}

.section-a {
    padding: 0 30px;
    background-color: rgb(255, 255, 255);
}

.hero-txt {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    font-size: 102px;
    color: rgb(27, 27, 27);
    padding-top: 50px;
    padding-bottom: 20px;
}

.subtitle {
    color: #494949;
    font-weight: 700;
    font-family: 'Roboto mono', sans-serif;
    font-size: 36px;
    padding-bottom: 100px;
}

.blurb {
    line-height: 32px;
    font-size: 24px;
    color: rgb(71, 71, 71);
    padding-bottom: 75px;
}

/* SECTION b */
.section-b {
    padding: 0 30px 100px 30px;
    background: #00d89b;
}

.app-mockup {
    width: 92px;

}

.animation {
    width: 84px;
}

.forms {
    width: 170px;
}

.brand-mockup {
    border-bottom: solid 1.25px slategray !important;
    width: 195px;
}

.web {
    border-bottom: solid 1.25px slategray !important;
    color: slategray !important;
    width: 92px;
}

.packaging {
    width: 83px;
}



.branding, .animation, .app-mockup, .forms, .packaging, .web, .brand-mockup {
    color: #FBFBFB;
    font-size: 14px;
    padding-top: 100px;
    border-bottom: 1.5px solid #FBFBFB;
    white-space: nowrap;
}



.branding {
    white-space: nowrap;
    width: 175px;
    border-bottom: 1.25px solid #FBFBFB;
    font-size: 14px;
    padding-top: 100px;
    color: #FBFBFB;
}

.title {
    font-weight: 400;
    font-size: 27px;
    padding-top: 40px; {
    width: 170px;
}

.packaging {
    width: 83px;
}

.brand-mockup {
    width: 193px;
    border-bottom: solid 1.25px slategray !important;
}

.web {
    color: slategray !important;
    width: 87px;
    border-bottom: solid 1.25px slategray !important;
}
}

.main-span {
    font-weight: 700;
}

.title1 {
    color: #FBFBFB;
}

.title2 {
    color: #aaaaaa;
}

.title3 {
    color: rgb(0, 0, 0);
}

.title3 {
    color: rgb(0, 0, 0);
}

.title4 {
    color: rgb(0, 0, 0);
}

.title5 {
    color: rgb(0, 0, 0);
}

.title6 {
    color: rgb(32, 32, 32);
}

.title7 {
    color: rgb(211, 211, 211);
}

.title8 {
    color: rgb(66, 66, 66);
}

.title9 {
    color: rgb(95, 97, 100);
}
.t1 {
    color: #393939;
}

.t2 {
    color: rgb(0, 195, 255);
}

.t3 {
    color: rgb(182, 182, 182);
}

.t4 {
    color: rgb(255, 204, 62);
}

.t5 {
    color: rgb(62, 95, 31);
}

.t6 {
    color: rgb(34, 34, 34);
}

.t7 {
    color: rgb(136, 136, 136);
}

.t8 {
    color: rgb(228, 78, 24);
}

.t9 {
    color: rgb(255, 255, 255);
}

.hero-image {
    cursor: pointer;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    width: 100%;
    padding: 50px 3px;
}

.desc {
    padding-bottom: 50px;
    font-size: 14px;
}

.full-project {
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    width: 180px;
}

.full-project1 {
    transition-duration: .3s;
    backdrop-filter: blur(50px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    color: #FBFBFB;
    background: #707070b2;
}

.full-project1:hover {
    mix-blend-mode: hard-light;
    border-radius: 0px;
}

/* media queries */

@media only screen and (min-width: 600px) {

    .section-container {
        max-width: 720px;
    }

    .hero-txt {
        font-size: 160px;
    }
}


@media only screen and (min-width: 980px) {


    .navbar-bottom {
        visibility: hidden;
    }

    .section-container {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        visibility: visible;
    }

    .nav-container {
        margin-left: auto;
        margin-right: auto;
    }

    .desc-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .subtitle {
        font-size: 50px;
    }

    .full-project {
        cursor: pointer;
        white-space: nowrap;
        width: 200px;
    }

    .desc {
        font-size: 18px;
        padding-left: 100px;
    }

    .hero-txt {
        padding-top: 200px;
        padding-bottom: 20px;
        font-size: 270px;
    }

    .section-a {
        padding-bottom: 150px;
    }

    .blurb {
        line-height: 43px;
        font-size: 36px;
    }

    .app-mockup {
        width: 133px;
    }

    .animation {
        width: 118px;
    }

    .branding {
        width: 250px;
    }

    .forms {
        width: 240px;
    }
    
    .packaging {
        width: 118px;
    }
    
    .brand-mockup {
        width: 275px;
        border-bottom: solid 1.25px slategray !important;
    }
    
    .web {
        color: slategray;
        width: 130px;
        border-bottom: solid 1.25px slategray !important;
    }

    .branding, .animation, .app-mockup, .forms, .packaging, .web, .brand-mockup {
        font-size: 20px;
        border-bottom: 1.5px solid #FBFBFB;
    }

    p {
        line-height: 3px;
    }



    .title {
        font-size: 70px;
    }

    .navbar {
        padding-top: 100px;
        margin-top: auto;
        margin-bottom: auto;
        display: inline-flex;
        font-size: 24px;
        float: right;
    }

    li {
        font-family: 'roboto mono', sans-serif;
        padding-right: 60px;
    }

    a {
        color: black;
    }

    a:hover {
        border-bottom: solid 3px rgb(43, 43, 43);
    }
  }

  @media only screen and (min-width: 1080px) {

    .section-container {
        max-width: 1080px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-container {
        width: 75%;
    }

    .hero-txt {
        font-size: 305px;
    }

    .desc {
        padding-left: 200px;
    }
  }


  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


  .swiper-pagination-bullet {
      width: 15px !important;
      height: 15px !important;
}


}
:root {
    --swiper-theme-color: #eeeeeece !important;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 390px;
    justify-content: space-evenly;
    display: flex;
    padding: 25px;
    max-width: 600px;
    background: white;
    height: 225px;
}

.footer-logo {
    padding-top: 50px;
    height: 80px;
    width: 80px;
}

.site {
    font-size: 30px;
    padding-top: 75px;
}

.mobile-nav {
    display: none;
    z-index: 15;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(50px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.486);
}




.mobile-nav-container {
    padding-top: 45vh;
    text-align: center;
    font-size: 40px;
}

.mobile-nav-container >li {
    
    list-style-type: none;
    text-decoration: none;
}









.overlay {
    position: fixed;
    z-index: 99;
    backdrop-filter: blur(50px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    height: 0%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(236, 236, 236, 0.575);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
      z-index: 99;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
      font-weight: 700;
      z-index: 20;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #6d6d6d;
  }
  
  .overlay .closebtn {
    font-size: 60px;
  }


  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    }
  }

  /* @media screen and (min-width: 720px) {
      .closebtn {
        left : 48%
    }
  } */




